 


%h2.text-success
  Форма консультації за відсутнім сектором #{@order_non_sector.sector} 
  %br/
  для #{@user.email} :
  
  %br/
  %br/

  
= form_for @order_non_sector, url: { controller: 'order_non_sectors', action: 'send_answer' } do |f|

  Інструкція:  
  %br/
  =f.text_area :answer,  type:         'text', 
                          required:    '',
                          size:        '70x10'

  %br/
  
  
  = f.hidden_field :id,      value: @order_non_sector.id
  = f.hidden_field :akey,    value: @order_non_sector.akey[0..1]
  
  = f.submit 'Надiслати', class: ' btn btn-success btn-lg '
